/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
===============
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-background: #ede;
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #333;
  --ff-used: 'Source-serif-pro';
  --ff-primary: 'Open Sans', 'Roboto', sans-serif;
  --ff-secondary: 'Roboto Slab', Georgia, serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
===============
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-background);
  color: var(--clr-black);
  line-height: 2;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.3rem;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  color: var(--clr-grey-3);
  background-color: var(--clr-primary-9);
  padding: 0.5rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  text-align: center;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #ede;
  color: #000;
}

.blog-link {
  text-decoration: underline;
}

/* section */
.section {
  padding-bottom: 5rem;
}

@media screen and (max-width: 800px) {
  .section {
    padding-bottom: 3.5rem;
  }
}

/*
===============
Scroll
===============
*/
/* navbar */
nav {
  padding: 1rem 1.5rem;
}

nav ul {
  list-style-type: none;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  color: var(--clr-grey-3);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;

  width: 100%;
  height: 100%;
  display: block;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}

.toggle-icon {
  color: #fff;
  height: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0;
  background-color: rgb(245, 229, 245);
  border-radius: 2rem;
  padding: 0;
  margin: 0;
}

.logo .first {
  color: var(--clr-primary-3);
}
.logo .second {
  color: var(--clr-primary-2);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 800px) {
  nav {
    background: var(--clr-primary-1);
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
}

.hero-content {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.profile-div {
  width: 30%;
}

.profile-img {
  border-radius: 50%;
}
.banner {
  min-height: 100vh;
}

.banner-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.banner-inside h1 {
  color: var(--clr-white);
  text-transform: uppercase;
  background-color: var(--clr-grey-1);
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.banner-inside p {
  color: var(--clr-grey-1);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.banner a.scroll-link.btn,
#services a.scroll-link.btn {
  border-radius: 0.7rem;
  width: 200px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .banner-inside p {
    max-width: 40rem;
  }

  .banner-inside {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .banner-inside {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .banner-inside {
    min-height: 65vh;
    min-width: 90%;
  }

  .profile-div {
    /* position: relative;
    top: auto; */
    margin-top: 1rem;
    width: 40%;
  }
  .hero-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .banner {
    min-height: auto;
  }

  .banner-inside h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .banner-inside p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  #about p,
  .services-list,
  .about-list {
    font-size: 1rem !important;
    min-width: 60%;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}

.big {
  background: #555;
  margin: 1.5rem auto;
  text-align: center;
}
big {
  font-size: larger;
  font-style: italic;
  font-weight: 500;
  color: #fff;
}

#about,
#blog,
#services,
#contact {
  min-height: 100vh;
}
#services {
  background: var(--clr-white);
}

#services h3,
#about h3 {
  margin: 2rem auto 0;
  width: 60vw;
}

.services-list,
.about-list,
ol,
ul {
  color: var(--clr-black);
  line-height: 2;
  font-size: 1rem;
}

.services-list,
.about-list,
.list {
  width: 40vw;
  margin: 1rem auto 0;
}

.alphabetical {
  list-style-type: lower-alpha;
}

@media screen and (max-width: 800px) {
  ol {
    width: 90%;
    list-style-position: inside;
  }
}

#services a,
#about a {
  line-height: normal;
}

.services-list li:not(:last-of-type),
.about-list li:not(:last-of-type) {
  margin-bottom: 1rem;
}

#about p,
#services p {
  margin: 1rem auto 0;
  max-width: 40%;
  line-height: 2;
  font-size: 1.3rem;
}

#services a {
  display: block;
  margin: 1rem auto;
}

.blockquote1 {
  border-left: 0.4rem solid var(--clr-primary-4);
  color: var(--clr-primary-2);
  margin: 3.2rem 0;
  padding-left: 1.6rem;
  text-align: left;
}

footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.form {
  font-size: 1.3rem;
  margin: 1rem auto 0;
  width: 50%;
  color: var(--clr-grey-1);
}

@media screen and (min-width: 800px) {
  .form {
    width: 40%;
  }
}

.form * {
  display: block;
}

.form > * {
  margin-top: 1rem;
}

.form input {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.form input,
.form textarea {
  font-family: 'Open Sans', Lato, Poppins, sans-serif;
  font-size: 1rem;
  color: var(--clr-grey-2);
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 1rem;
}

.form textarea {
  border-color: var(--clr-grey-3);
  border-radius: 0.5rem;
}

.form input:focus,
.form textarea:focus {
  outline: none;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

.arrow-up {
  color: #fff;
  height: 1.25rem;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
