*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 243, 243);
  font-size: 1.2rem;
}

.contain {
  max-width: 60vw;
  padding: 2rem;
  margin: 2rem auto;
  border: 1.5px dotted rgb(61, 21, 21);
}

section {
  max-width: 80%;
  margin: 0 auto;
}

section.section.before-footnotes {
  padding-bottom: 3rem;
}

#main-articles,
#opinion {
  min-height: 50vh;
}

@media screen and (max-width: 768px) {
  .contain {
    min-width: 80%;
    font-size: 1rem;
  }

  section {
    min-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contain {
    min-width: 90%;
    padding: 0.2rem;
  }
}

p {
  margin: 1rem;
}

.points-list {
  list-style-type: none;
}

.points-list li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.section.footnotes p {
  font-size: 1rem;
}

.blog-img {
  width: 90%;
  margin: 0 auto;
}

figure {
  margin: 2rem auto;
  text-align: center;
}

figcaption {
  font-size: 0.8rem;
  color: #777;
  opacity: 0.95;
}
